@model List<User>

@if (ViewBag.SuccessMessage != null)
{
    <input type="hidden" name="SuccessId" id="SuccessId" value="@ViewBag.SuccessMessage" />
}

@if (ViewBag.DangerMessage != null)
{
    <input type="hidden" name="DangerId" id="DangerId" value="@ViewBag.DangerMessage" />
}



<div>
    <table class="table table-bordered">
        <tr>
            <th>
                #
            </th>
            <th>
                Fullname
            </th>
            <th>
                Password
            </th>
            <th>
                <a href="/CreateUser" class="btn btn-info">
                    Add User
                </a>
            </th>
        </tr>

        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Fullname
                    </td>
                    <td>
                        @item.Password
                    </td>
                    <td>
                        <a class="btn btn-warning" href="\EditUser\@item.Id">
                            Edit User
                        </a>

                        <button class="btn btn-danger" onclick="confirm('@item.Id','@item.Fullname')">
                            Delete User
                        </button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr style="text-align: center;">
                <td colspan="4">
                    No data found
                </td>
            </tr>
        }
    </table>
</div>

@section Scripts {
    <script>

        function confirm( ID, userName){

              Swal.fire({
                title: 'هشدار',
                text: "آیا از حذف کاربر " +userName+" اطمینان دارید؟",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'بله حتما !',
                confirmButtonClass: 'btn btn-warning',
                cancelButtonClass: 'btn btn-danger ml-1',
                cancelButtonText: 'نه ممنون',
                buttonsStyling: false,
            }).then(function (result) {
                if (result.value) {

                    $.ajax({
                        method: 'POST',
                        url: '/DeleteUser',
                        data: { id: ID },
                        beforesend:function(){

                        },
                        success: function (response) {
                            Swal.fire({
                                type: "success",
                                title: 'تبریک',
                                text: response,
                                confirmButtonClass: 'btn btn-success',
                                confirmButtonText: 'Ok',
                            }).then(function (result2) {
                                location.reload();

                            });
                        },
                        error: function (response) {
                            Swal.fire({
                                title: 'متوقف شد',
                                text: response.responseText,
                                type: 'error',
                                confirmButtonClass: 'btn btn-success',
                                confirmButtonText: 'Ok',
                            });
                            console.log(response.responseText);
                        }
                    })


                    //Swal.fire({
                    //    type: "success",
                    //    title: 'حذف شد!',
                    //    text: 'فایل شما حذف شد.',
                    //    confirmButtonClass: 'btn btn-success',
                    //    confirmButtonText: 'باشه',
                    //});
                } else {

                }
            });
        }


        window.onload = function(){
            var successField = document.getElementById("SuccessId");

            if (successField && successField.value.trim() !== "") {
               // alert(successField.value);
                Swal.fire({
                                title: 'تبریک',
                                text: successField.value,
                                type: "success",
                                confirmButtonClass: 'btn btn-success',
                                confirmButtonText: 'Ok',
                            });


                }

                 var dangerField = document.getElementById("DangerId");

            if (dangerField && dangerField.value.trim() !== "") {
                // alert(dangerField.value);

                                Swal.fire({
                                title: 'هشدار',
                                text: dangerField.value,
                                type: "error",
                                confirmButtonClass: 'btn btn-success',
                                confirmButtonText: 'Ok',
                            });
                }

        };
    </script>
}
